/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
  color: #675D50;
}

.footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #b4ada9;
  color: #fff;
}

a {
  color:#F00;
  text-decoration:none;
  }


/*トップの新規登録・ログインリンク*/
.top-link {
  border-left:5px solid #A7AFAF;
  padding:2px 8px;
}

/*トップの下線*/
.heading {
  position: relative;
  padding-bottom: 10px;
  font-size: 25px;
}

.heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 8px;
  background-image: repeating-linear-gradient(45deg, #b4a983 0px, #b4a983 1px, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%);
  background-size: 8px 8px;
}

/*優先度のシークバー*/
.priority-slider {
  width: 300px;
}

.slider {
  width: 100%;
}

#priority-labels {
  display: flex;
  justify-content: space-between;
}

.label {
  width: 25px;
  text-align: center;
}

.task3 {
    text-decoration: none;
    padding: 0.5rem;
    background: #f7f7f7;
    border-left: solid 60px #D49D9D;
    border-radius: 8px;
    color: #D49D9D;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}

.task2 {
    text-decoration: none;
    padding: 0.5rem;
    background: #f7f7f7;
    border-left: solid 60px #DFC7D5;
    border-radius: 8px;
    color: #DFC7D5;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}

.task1 {
    text-decoration: none;
    padding: 0.5rem;
    background: #f7f7f7;
    border-left: solid 60px #B7B8D4;
    border-radius: 8px;
    color: #B7B8D4;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}

.task0 {
    text-decoration: none;
    padding: 0.5rem;
    background: #f7f7f7;
    border-left: solid 60px #ACC3D6;
    border-radius: 8px;
    color: #ACC3D6;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}

/*task/showテキストボックス*/
.text-box3{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px #D49D9D;
    border-bottom: solid 2px #D49D9D;
}
.text-box3:before, .text-box3:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #D49D9D;
}
.text-box3:before {left: 10px;}
.text-box3:after {right: 10px;}
.text-box3 p {
    margin: 0; 
    padding: 0;
}

.text-box2{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px #DFC7D5;
    border-bottom: solid 2px #DFC7D5;
}
.text-box2:before, .text-box2:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #DFC7D5;
}
.text-box2:before {left: 10px;}
.text-box2:after {right: 10px;}
.text-box2 p {
    margin: 0; 
    padding: 0;
}

.text-box1{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px #B7B8D4;
    border-bottom: solid 2px #B7B8D4;
}
.text-box1:before, .text-box1:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #B7B8D4;
}
.text-box1:before {left: 10px;}
.text-box1:after {right: 10px;}
.text-box1 p {
    margin: 0; 
    padding: 0;
}

.text-box0{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px #ACC3D6;
    border-bottom: solid 2px #ACC3D6;
}
.text-box0:before, .text-box0:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #ACC3D6;
}
.text-box0:before {left: 10px;}
.text-box0:after {right: 10px;}
.text-box0 p {
    margin: 0; 
    padding: 0;
}